<tr>
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.deadline %></td>
  <td>
    <div class="row">
      <div class="col-sm">
      
        <%= button_to "Delete Task", [task.category, task], :class => "btn btn-danger", :method => "delete", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
             
      </div>
      <div class="col-sm">
        <%= button_to "Edit Task", edit_category_task_path(@category, task), :method => "get", :class => "btn btn-warning" %>
      </div>
    </div>
  </td>
</div>
