<%= render "navbar", category: @category, user: @user %>
<div class="d-flex justify-content-center">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-flex justify-content-center">
      <p class="notice" style="color: green"><%= notice %> </p>
    </div>
    <%= render "deadline", category: @category, user: @user, task: @task %>
    <div class="d-flex justify-content-center">
      <%= link_to "Create New Category +", new_category_path, :class => "btn btn-primary" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @user.categories.each do |category| %>
          <% if !!category.id %>
            <tr>
              <td><%= category.name %></td>
              <td>
                <div class="row">
                  <div class="col-sm">
                    <%= link_to "View", category, :class => "btn btn-light"
                 %>
                  </div>
                  <div class="col-sm">
                    <%= link_to "Edit", edit_category_path(category), :class => "btn-warning btn", :method => "get" %>
                  </div>
                  <div class="col-sm">
                    <%= link_to "Delete", category_path(category), :class => "btn-danger btn", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
