<%= render "categories/navbar", category: @category, user: @user %>
<div class="container mt-4">
<div class="d-flex align-items-center">
<%= button_to "<", categories_path, :class => "btn btn-light", :method => "get" %>
<h1><%= @category.name %></h1>
</div>

<%= button_to "Create Task +", new_category_task_path(@category.id), :class => "btn-primary btn", :method => "get" %>
<%= link_to "Delete All", remove_all_category_tasks_path(@category.id), :class => "btn-warning btn", data: {
                turbo_confirm: "Are you sure to delete all?"
              } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Deadline</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
<%= render @category.tasks %>
</tbody>
</table>
</div>
